<h1>ADD</h1>
<form class="" ng-submit="saveUser()">
  <label for="FirstName">First Name</label>
  <input type="text" name="FirstName" ng-model="User.FirstName"> <br>
  <label for="LastName">LastName</label>
  <input type="text" name="LastName" ng-model="User.LastName"><br>
  <label for="email">email</label>
  <input type="email" name="email" ng-model="User.email"><br>
  <button type="submit" name="submit">Submit</button>
</form>
