<h1>ADD</h1>


<input type="text" id="firstname" ng-model="firstname"/>
<input type="text" id="surname" ng-model="surname"/>
<input type="email" id="email" ng-model="email"/>


<input type="submit" value="Submit" ng-click="save()"/>


<input type="submit" value="Test" ng-click="test()"/>

