<h1>Listing</h1>
<label>Search: <input ng-model="searchText"></label>
<table class="table">
    <thead>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="user in users | filter: searchText">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
    </tr>
    </tbody>



</table>